fastapi~=0.111.0
llama-cloud-services~=0.6.1
numpy~=1.24.3
pandas==2.0.2
parse-document-model==0.2.0
pydantic~=2.9.0
pydantic_settings~=2.2.1
pymupdf~=1.24.3
requests==2.32.3
unstructured-client~=0.29.0
uvicorn==0.22.0