receivers:
  otlp:
    protocols:
      # https://opentelemetry.io/docs/security/config-best-practices/#docker-compose
      grpc:
        endpoint: otel-collector:4317
      http:
        endpoint: otel-collector:4318


processors:
  batch:


exporters:
  debug:
    verbosity: detailed


service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug]
    # logs:
    #   receivers: [otlp]
    #   processors: [batch]
    #   exporters: [debug]