name: CI

on: 
  push:
    branches: 
      - "main"
  pull_request:
    types: [opened, synchronize, reopened]


concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        python: [3.12, 3.13]

    services:
      pdfact:
        image: ghcr.io/data-house/pdfact:main
        ports:
          - 4567
    
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 1

    - name: Install the latest version of uv and set the python version
      uses: astral-sh/setup-uv@v7.3.0
      with:
        enable-cache: true
        python-version: ${{ matrix.python }}
    
    - name: Pull dependencies
      run: uv sync --all-extras --all-groups
    
    - name: Execute tests
      env:
        PARXY_PDFACT_BASE_URL: 'http://pdfact:4567/'
      run: uv run pytest
